td {
  height: 365px;
}

#td-img {
  width: 100%;
  text-align: center;
}

.inputs-container {
  width: 30rem;
}

.inputs-img {
  height: 100%;
  margin-left: 10px;
  border-radius: 0px;
}

.navbar-text {
  font-size: 1rem !important;
}

.total {
  font-size: 50px;
}

.bill-value {
  width: 4rem;
}

.non-draggable {
  pointer-events: none;
}